<div>

  <strong><%= cliente.nombre %></strong>
  <%= cliente.telefono%>
  <%= cliente.email%>

  -
  <%= link_to "Editar", edit_cliente_path(cliente), style:"clolor:blue;"%>
  <%= link_to "Eliminar", cliente, method: :delete ,style:"clolor:blue;"%>


</div>
