<h1>
  Crear Temporada para serie: <%= @show.title %>
</h1>

<div class="row-center-xs">
  <%= form_for  @season, url: {action: 'create'} do |p| %>

    <div class="field">
      <%= p.number_field :number, label: "numero" %>
    </div>

    <input hidden="true" value="<%= @show.id %>" name="season[show]">

    <%= p.submit "Create" %>
  <% end %>
</div>
