<body>

  <nav class="navbar-fixed-top navbar-inverse" >
    <div class="container-fluid">
      <div class="navbar-header">
	<%= link_to 'Flix', root_url, class: 'navbar-brand' %>
      </div>


      <ul class="nav navbar-nav">
	<% if not cliente_signed_in? %>
	  <li>
	    <%= link_to "Iniciar sesion", new_cliente_session_path %>
	  </li>

	  <li>
	    <%= link_to "Registrarme", new_cliente_registration_path %>
	  </li>

	<% end %>

	<% if cliente_signed_in? %>
	  <li class="dropdown">
	    <a href="#"
	       class="dropdown-toggle"
	       data-toggle="dropdown"
	       role="button"
	       aria-haspopup="true"
	       aria-expanded="false">
	      Contenido
	      <span class="caret">
	      </span>
	    </a>
	    <ul class="dropdown-menu">
	      <li><%= link_to 'Todo', root_url %></li>
	      <li><%= link_to 'Series', series_index_url %></li>
	      <li><%= link_to 'Peliculas', peliculas_url %></li>
	    </ul>
	<% end %>
	  </li>


	  <% if cliente_signed_in? %>
	    <li>
	      <a href="/buscar">Buscar</a>
	    </li>
	  <% end %>


	  <% if current_cliente.try(:admin?) %>
	    <li>
	      <%= link_to "Admin", admins_path, id: 0 %>
	    </li>
	  <% end %>


	  <% if cliente_signed_in? %>
	    <li >
	      <%= link_to "Cerrar sesion", destroy_cliente_session_path, method: :delete %>
	    </li>
	  <% end %>

	  <li>
	    <a href="/contacto">Contacto</a>
	  </li>

      </ul>

    </div>
  </nav>

</body>
