<div class="col-sm-4 col-lg-4 col-md-4">
  <div class="thumbnail">

    <div class="container-fluid">
      <div class="pull-left">
	<% if current_client.try(:admin?) %>
	  <%= link_to raw('<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>'),
	    content, { method: :delete } %>

	  <% if content.class == Movie %>
	    <%= link_to raw('<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>'),
	      edit_movie_path(content) %>
	  <% else %>
	    <%= link_to raw('<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>'),
	      edit_show_path(content) %>
	  <% end %>
	<% end %>
      </div>

      <div class="pull-right">
	<h4>
	  <%= content.klass %>
	</h4>
      </div>

      <div class="caption">
	<h4 class="pull-center">
	  <%= link_to content.normalized_title, content %>
	</h4>
      </div>
    </div>

    <div id="content-image">
      <img src="/images/question_mark.jpeg" width="200" heigth="300">
    </div>

    <!-- <div class="ratings">
	 <p class="pull-right"></p>

	 <%= content.votes.count %>

	 <% if content.votes.count != 1 %>
	 votos
	 <% else %>
	 voto
	 <% end %>

	 <%= render 'partials/votes', votable: content %>
	 </div> -->
  </div>
</div>
