<div class="row center-xs">
  <div class="col-xs-8 col-md-6">
    <div class="box text-left">
      <h2> Editar Client </h2>

      <%= form_for(@client) do |f| %>
	<% @client.errors.messages.each do |message| %>
	  *<%= message%>
	<% end %>
	<div class= "field">
	  <%= f.text_field :name, placeholder:"Nombre del Usuario"  , class:"form-control" %>
	</div>

	<div class= "field">
	  <%= f.text_field :phone, placeholder:"Telefono"  , class:"form-control" %>
	</div>

	<div class= "field">
	  <%= f.text_field :email, placeholder:"Email"  , class:"form-control" %>
	</div>




	<div class="actions">
	  <%= f.submit "Editar",class:"btn btn-default" %>
	</div>

      <% end %>


    </div>
  </div>
</div>
