<h1>
  Crear Pelicula
</h1>

<%= bootstrap_form_for @pelicula do |p| %>

  <%= p.text_field :nombre, label: "Nombre" %>


  <%= p.text_area :sinopsis, size: "60x12" %>

  <%= p.date_field :fecha %>


  <%= p.submit "Create" %>
<% end %>
