<div class="row center-xs">
  <div class="col-xs-8 col-md-6">
    <div class="box text-left">

      <div class="tcenter">
	<h2>Crear Subscription</h2>
      </div>
      <%= form_for @subscription do |f| %>
	<div class="field">
	  <%= f.text_field :name, placeholder: "Nombre Subscription", class:"form-control"%>
	</div>
	<div class="field">
	  <%= f.text_field :price, placeholder: "Precio Subscription", class:"form-control"%>
	</div>

	<div class="field">
	  <%= f.text_field :duration, placeholder: "Duracion", class:"form-control"%>

	</div>

	<div class="acctions">
	  <%= f.submit "Registrar Subscription",class:"btn be-b white" %>
	</div>
      <% end %>
    </div>
  </div>
</div>
