<div class="row">
  <h1>
    <%= @show.title %>
  </h1>
</div>


<div class="row">
  <% if  current_client.try(:admin?) %>
    <%= link_to 'Agregar Temporada', new_show_season_path(@show), class: 'btn btn-default' %>
  <% end %>
</div>

<br>

<div class="row">
  <ul class="nav nav-tabs" role="tablist">
    <% @show.sorted_seasons.each do |season| %>
      <li role="presentation"

	  <% if season.number == 0 %> class="active" <% end %>
      >
	<a href="#season_<%= season.number %>" role="tab" data-toggle="tab">
	  Temporada <%= season.number %>
	</a>
      </li>
    <% end %>
  </ul>

  <div class="tab-content">
    <% @show.sorted_seasons.each do |season| %>
      <div role="tabpanel"
	   data-toggle="tab"
	   <% if season.number == 0 %>
	   class="tab-pane active"
	   <% else %>
	   class="tab-pane"
	   <% end %>

	   id="season_<%= season.number %>"
      >

	<div class="row">
	  <% if current_client.try(:admin?) %>
	    <div class="row">
	    <%= link_to 'Agregar Capitulo', new_show_season_episode_path(@show, season), class: 'btn btn-default' %>
	    <%= link_to 'Eliminar Temporada', show_season_path(@show, season), method: :delete, class: 'btn btn-danger' %>
	    </div>
	  <% end %>
	</div>

	<br>

	<%= render 'partials/season_table', season: season %>

      </div>
    <% end %>
  </div>

</div>
